.App {
  background-color: #454549;
  height: 100vh;
  width: 100wh;
  color: white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;

  a {
    color: orange;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;

    &.activated {
      color: yellow;
    }
  }


}

main {

  div {
    font-size: 60px;
  }
}